.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    display: flex;
    align-items: center;
    gap: 25px;
}
.header__link{
    color: #FFFFFF8C;
}
.header__btn{
    color: #FDF5FF;
    background-color: #FF6E30;
    border: 0;
    border-radius: 8px;
    padding: 12px 28px;
}

body{
    margin: 0;
    background-color: #1E252B;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}

